@import url('https://fonts.googleapis.com/css2?family=Gadugi&display=swap');

/* -- Principal-- */
body {
    background-color: rgb(24, 24, 24);
    font-family: 'Gadugi', sans-serif;
    color: white;
}

* {
    margin: 0%;
    margin-top: 0%;
}

/* --Class-- */

.menuPosicao {
    display: flex;
    justify-content: center;
}

.iconesHTML {
    text-align: center;
    margin: 0.5%;
    background-color: rgb(58, 58, 57);
    padding: 1%;
}

.alignCenter {
    text-align: center;
}